.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100%; /* Limit iframe width to parent container's width */
    height: 100vh;   /* Allow iframe container to take up full viewport height */
}

.iframe {
    width: 100%;
    height: 100%;
    border: none;
    max-height: 100vh; /* Limit iframe height to viewport height */
    object-fit: cover;  /* Ensure content fits within the iframe bounds */
}